@model LittleBooks.Common.Models.AuthorModel
@using LittleBooks.Common.Resources;

@{
    ViewBag.Title = AdminResources.addAuthor;
}

<script src="~/CKeditor/ckeditor.js"></script>


@using (Html.BeginForm("AddAuthor", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="br-mainpanel">

        <div class="br-pagetitle">
            <div>
                <h2>@AdminResources.addAuthor</h2>
            </div>
        </div><!-- d-flex -->

        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.About, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <textarea class="form-control" id="Editor" name="About" rows="10" cols="50"></textarea>
                    @Html.ValidationMessageFor(model => model.About, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-md-2">@AdminResources.image</label>
                <div class="col-md-10">
                    <input type="file" name="ImageFile" accept="image/*" required />
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-6 col-md-3 mg-t-50">
                    <button class="btn btn-purple btn-block mg-b-10">@AdminResources.create</button>
                </div><!-- col-sm-3 -->
            </div>
        </div>

        <div class="d-flex">
            <div>
                <h5 class="mg-l-0 bd bd-3 bd-info">
                    @Html.ActionLink(AdminResources.back, "GetAllAuthors")
                </h5>
            </div>
        </div>

    </div>
}


<script src="~/js/bracket.js"></script>
<script>
    $(function () {
        'use strict';

        // Inline editor
        var editor = new MediumEditor('.editable');

        // Summernote editor
        $('#summernote').summernote({
            height: 150,
            tooltip: false
        })
    });
</script>

<script>
    // Replace the <textarea id="editor1"> with a CKEditor
    // instance, using default configuration.
    CKEDITOR.replace('Editor');
</script>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
