@model LittleBooks.Common.Models.AuthorModel
@using LittleBooks.Common.Resources;

@{
    ViewBag.Title = AdminResources.editAuthor;
}

@using (Html.BeginForm("EditAuthor", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="br-mainpanel">

        <div class="br-pagetitle">
            <div>
                <h2>@AdminResources.editAuthor</h2>
            </div>
        </div><!-- d-flex -->

        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.About, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">

                    @Html.TextAreaFor(model => model.About, new { @class = "form-control", @cols = 50, @rows = 10 })
                    @Html.ValidationMessageFor(model => model.About, "", new { @class = "text-danger" })

                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-2"></div>
                <div class="col-md-10">
                    <img src="@Url.Content(Model.ImageUrl)" height="100" />
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-md-2">@AdminResources.image</label>
                <div class="col-md-10">
                    <input type="file" name="ImageFile" accept="image/*" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-6 col-md-3 mg-t-50">
                    <button class="btn btn-purple btn-block mg-b-10">@AdminResources.save</button>
                </div><!-- col-sm-3 -->
            </div>
        </div>

        <div class="d-flex">
            <div>
                <h5 class="mg-l-0 bd bd-3 bd-info">
                    @Html.ActionLink(AdminResources.back, "GetAllAuthors")
                </h5>
            </div>
        </div>
    </div>
}



<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
