@model LittleBooks.Common.Models.ContactModel
@using LittleBooks.Common.Resources;

@{
    ViewBag.Title = AdminResources.editContact;
}

@using (Html.BeginForm("EditContact", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="br-mainpanel">

        <div class="br-pagetitle">
            <div>
                <h2>@AdminResources.editContact</h2>
            </div>
        </div><!-- d-flex -->

        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.Value, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Value, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Value, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-md-2"></div>
                <div class="col-md-10">
                    <img src="@Url.Content(Model.IconUrl)" height="50" />
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <input type="file" name="ImageFile" accept="image/*" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6 col-md-3 mg-t-50">
                    <button class="btn btn-teal btn-block mg-b-10">@AdminResources.save</button>
                </div><!-- col-sm-3 -->
            </div>
        </div>
        <div class="d-flex">
            <div>
                <h5 class="mg-l-0 bd bd-3 bd-info">
                    @Html.ActionLink(AdminResources.back, "GetAllContact")
                </h5>
            </div>
        </div>
    </div>
}


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
