@model IEnumerable<LittleBooks.Common.Models.ContactModel>
@using LittleBooks.Common.Resources;

@{
    ViewBag.Title = AdminResources.contact;
}




@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Value)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.ContactType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.ActionLink(AdminResources.edit, "EditContact", new { id = item.Id })

            </td>
        </tr>
    }

</table>*@

<div class="br-mainpanel">

    <div class="br-pagetitle">
        <div>
            <h1>@AdminResources.contact</h1>
        </div>
    </div><!-- d-flex -->


    <div class="br-pagebody">
        <div class="br-section-wrapper">
            <div class="br-pageheader">
                
            </div><!-- br-pageheader -->

            <div class="table-wrapper">

                <table id="datatable1" class="table display responsive nowrap">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Value)
                            </th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.ContactType.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Value)
                                </td>
                                <td>
                                    @Html.ActionLink(AdminResources.edit, "EditContact", new { id = item.Id })

                                </td>
                            </tr>
                        }
                    </tbody>

                </table>

            </div><!-- table-wrapper -->
        </div>
    </div>
</div>
