@model IEnumerable<LittleBooks.Common.Models.ContactModel>
@using LittleBooks.Common.Resources;

@{
    ViewBag.Title = AdminResources.contact;
}

<h2>@AdminResources.contact</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Value)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.ContactType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.ActionLink(AdminResources.edit, "EditContact", new { id = item.Id }) 

            </td>
        </tr>
    }

</table>
