@model IEnumerable<LittleBooks.Common.Models.TaleModel>
@using LittleBooks.Common.Resources;

@{
    ViewBag.Title = AdminResources.Tales;
}



<div class="br-mainpanel">

    <div class="br-pagetitle">
        <div>
            <h1>@AdminResources.Tales</h1>
        </div>
    </div>


    <div class="br-pagebody">
        <div class="br-section-wrapper">
            <div class="br-pageheader">
                <nav class="breadcrumb pd-0 mg-0 tx-12">
                    <h6 class="breadcrumb-item">@Html.ActionLink(AdminResources.createNew, "AddTale")</h6>
                </nav>
            </div>

            <div class="table-wrapper">

                <table id="datatable1" class="table display responsive nowrap">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Title)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TaleLink)
                            </th>
                            <th>
                                @AdminResources.author
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ImageFile)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CreateDate)
                            </th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    <a href="@Html.DisplayFor(modelItem => item.TaleLink)">@Html.DisplayFor(modelItem => item.TaleLink)</a>
                                </td>
                                <th>
                                    @Html.DisplayFor(modelItem => item.Author.FirstName)

                                    @Html.DisplayFor(modelItem => item.Author.LastName)
                                </th>
                                <td>
                                    <img src="@Url.Content(item.ImageUrl)" height="100" />
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreateDate)
                                </td>


                                <td>
                                    
                                    @Html.ActionLink(AdminResources.edit, "EditTale", new { id = item.Id })
                                    ||
                                    @Html.ActionLink(AdminResources.delete, "DeleteTale", new { id = item.Id })
                                </td>

                            </tr>
                        }
                    </tbody>

                </table>

            </div>
        </div>
    </div>
</div>



<script src="~/Samples/js/bracket.js"></script>
<script>
    $(function () {
        'use strict';

        $('#datatable1').DataTable({
            responsive: true,
            language: {
                searchPlaceholder: 'Search...',
                sSearch: '',
                lengthMenu: '_MENU_ items/page',
            }
        });


        // Select2
        $('.dataTables_length select').select2({ minimumResultsForSearch: Infinity });

    });
</script>